.nav {
  display: none;
}

@media screen and (min-width: 500px) {
  .nav {
    position: relative;
    display: inline-block;
  }
  body {
    background-image: url('pizza-unicorn.jpg');
  }
}

.nav-item {
  float: left;
  list-style: none;
  margin: 2rem;
  display: inline-block;
}